@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  margin: 0%;
  padding: 0;
  height: 10%;
  color: cornsilk;
  overflow: scroll;
}

.header {
  width: 100%;
  height: 120px;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: center;
  color: #4a90e2;
  /* border: 1px solid black; */
}

.header span {
  position: fixed;
  left: 30px;
  top: 30px;
}

.header h1 {
  font-family: "Montserrat", sans-serif;
  position: relative;
  top: 25px;
  font-size: 50px;
}

nav {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100px;
  top: 120px;
  text-align: center;
  list-style-type: none;
  background-color: #4a90e2;
}

nav h2 {
  position: relative;
  top: 25px;
  text-align: center;
  color: #ffffff;
  font-size: 40px;
}
#menubtn1 {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 145px;
  left: 30px;
  cursor: pointer;
  z-index: 100;
}
.sidenavL {
  box-sizing: border-box;
  position: fixed;
  z-index: 10;
  top: -600px;
  left: 0px;
  width: 250px;
  transition: 0.5s;
  /* border: 2px solid black; */
}
.sidenavLOpen {
  box-sizing: border-box;
  position: fixed;
  z-index: 100;
  top: 220px;
  left: 0px;
  width: 250px;
  transition: 1s;
}
.sidenavR {
  position: fixed;
  box-sizing: border-box;
  z-index: 10;
  top: 100px;
  right: 0px;
  width: 250px;
  transition: 0.5s;
  /* border: 2px solid black; */
}
.sidenavROpen {
  position: fixed;
  box-sizing: border-box;
  z-index: 100;
  top: 220px;
  right: 0px;
  width: 250px;
  height: 60%;
  transition: 0.5s;
  /* border: 2px solid black; */
}
.persoonbutton {
  display: block;
  list-style-type: none;
  font-size: 20px;
  text-align: center;
  padding: 10px;
  border: 0.5px solid #4a90e2;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
  box-shadow: 1px 2px 5px 0.2px rgba(0, 0, 0, 0.4);
  background-color: #4a90e2;
  color: #ffffff;
}
.persoonbutton:active {
  color: #ffffff;
}

.filterbutton {
  list-style-type: none;
  font-size: 20px;
  text-align: center;
  padding: 10px;
  border: 0.5px solid #4a90e2;
  border-radius: 10px;
  margin: 5px;
  cursor: pointer;
  box-shadow: 1px 2px 5px 0.2px rgba(0, 0, 0, 0.4);
  background-color: #4a90e2;
  color: #ffffff;
}

#menubtn2 {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 95px;
  right: 0;
  margin-top: 50px;
  margin-right: 30px;
  cursor: pointer;
  z-index: 30;
}

.content {
  position: relative;
  z-index: 1;
  top: 200px;
  width: 90%;
  margin: 5%;
}

.legenda {
  display: block;
  border: 2px solid #4a90e2;
  position: relative;
  margin: 10px auto;
  top: 250px;
  width: 200px;
  height: 100px;
  text-align: center;
  color: #4a90e2;
  border-radius: 75px;
}

.legenda span {
  font-size: 30px;
  position: relative;
  top: 10px;
}
